{
    "enable_debug": true,
    "session_key": "something random (CHANGE ME!!!!!)",
    "session_name": "site1",
    "static_content_urlpath": "/",
    "static_content_dir": "../../git/vault-web/site/",
    "default_permission": "opers",
    "csc_api_url": "http://127.0.0.1",
    "csc_api_login_path": "/api/v1/authn",
    "csc_api_refresh_path": "/api/v1/authn/refresh",
    "csc_api_jwks_path": "/.well-known/jwks.json",
    "jwt_cookie_name": "jwt_token",
    "login_url": "/login/",
    "login_content_serve_local": false,
    "login_content_dir": "./login",
    "pages_file": "pages.json",
    "groups_file": "groups.json",
    "users_file": "users.json",
    "force_userid_validation": false,
    "cors_allowed_origins": ["http://127.0.0.1", "https://auth.undernet.org"]
}
